body{
    background-image: url(Sky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}
body::before{
    content: "";
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}
main{
    width: 50%;
    margin: auto;
    color: white;
}
header{
    color: crimson;
    margin: auto;
    width: 60%;
    text-align: center;
}
nav{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 20px;
    margin: auto;
    width: 60%;
    text-align: center;
}
nav a{
    color: aliceblue;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}
img{
    width: 150px;
    border-radius: 50%;
    box-shadow: 0  0 20px cyan;
}
section{
    background: rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
#about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}
th{
    background-color: rgba(0,0,0,0.7);
    color: aliceblue;
    padding: 10px;
}
td{
    padding: 10px;
    text-align: center;
    color: antiquewhite;
}
tr:nth-child(even){
    background-color: rgba(255,255,255,0.1);

}
tr:nth-child(odd){
    background-color: rgba(255,255,255,0.2);
}
tr:hover{
    background-color: rgba(0,0,0,0.5);
    transition: 0.3s;
}
table{
    border-radius: 10px;
    overflow: hidden;
}
form{
    width: 350px;
    width: 40%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
input,textarea{
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: aliceblue;
}
::placeholder{
    color: #ddd;
}
label{
    color: #ddd;
    font-weight: bold;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to right,#00c6ff,#0072ff);
    color:white;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background: linear-gradient(to right,#0072ff,#00c6ff);
    transform:scale(1.05);
    transition:0.3s;
}
input:focus,textarea:focus{
    box-shadow:0 0 5px cyan;
}